@import "mixins";

.app {
	position: relative;
	margin: 0 auto 1em;
	width: auto;
	max-width: $app-width;
}

.app-header {
	position: relative;
	z-index: 1;
	margin-top: 2.4em;
}

.app-title {
	display: inline-block;
	z-index: 3;
	margin: 0 0 0 .17em;
	font-size: 6em;

	&.app-title_narrow {
		overflow: hidden;
		font-size: 4em;
	}
}

a.app-title-link {
	&:link, &:visited {
		@include main-title;
		float: left;
		text-decoration: none;
	}

	&:hover, &:active {
		color: mix($title-color, $back-color, 100%);
		opacity: .8;
		text-decoration: none;
	}

	&:focus {
		border: none;
		text-decoration: underline;
		text-shadow: none;
	}
}

.app-title-link-image {
	width: 1.4em;
	vertical-align: middle;
	margin-right: .3em;
}

.bar-wrap {
	position: absolute;
	top: -1.5em;
	right: 2.45em;
	z-index: 2;
	width: 600px;

	&.bar-wrap_hidden, &.bar-wrap_narrow.bar-wrap_hidden {
		top: -6em;
	}

	&.bar-wrap_narrow {
		top: 2.3em;
		right: 0;
	}
}

.bar {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}

.bar-item {
	float: left;
	margin-left: .6em;
}

.bar-additional {
	overflow: hidden;
	white-space: nowrap;

	&.bar-additional_narrow {
		width: 0;
		margin: 0;
	}
}

.bar-notification {
	color: $light-gray-color;
}

.breadcrumbs {
	display: none;
	margin: 2em 0;
}

.breadcrumb {
	&:link, &:visited, &:hover, &:active, &:focus {
		&:after {
			display: inline-block;
			margin: 0 .4em;
			color: $light-gray-color;
			content: "›";
		}
	}
}

.last-breadcrumb {
	font-weight: bolder;
}

@import "dashboard";
@import "home";
@import "registration";
@import "registration-success";
@import "settings";
