@import "mixins";

.dashboard-bar {
	overflow: hidden;
	margin: 0 0 0 -$input-focus-shadow-width;
}

.search-form {
	float: left;
	margin: $input-focus-shadow-width;
	width: 500px;
}

input.search-submit {
	margin: 0;
}

.dashboard-bar-right {
	float: right;
	margin: 15px 0 0;
}

.no-accounts-notification {
	text-align: center;
	font-size: 1.9em;
	margin-top: 2.5em;
}

.no-accounts-invitation {
	text-align: center;
	margin: .3em 0 2.5em;
	
	&:first-line {
		font-size: 1.2em;
	}
}

.no-search-results-notification {
	text-align: center;
	font-size: 1.9em;
	margin: 3em 0;
}

.search-results {
	margin-top: 1.9em;
	width: 100%;
}

.account {
	font-size: 1.6em;
	border-bottom: {
		color: transparent;
		style: solid;
	}

	& > td {
		padding: 0 5px;
	}
}

.account-even {
	background-color: $white-color;
}

.account-accounter-link {
	@include title-link;
}

.account-password-show {
	@include button("/static/images/eye.svg");
}

.account-additional-show {
	@include button("/static/images/expand.svg");

	&.account-additional-show-undo {
		@include button-flipped();
	}
}

.account-additional {
}

.account-additional-wrap {
	color: $gray-color;
	padding: 5px 20px 12px 55px;
}

.account-additional-title {
	text-align: right;
	padding: 2px 7px;
}

.account-options-link {
	@include modal-link(mix($fore-color, $back-color, 35%));
	
	&:link, &:visited {
		font-size: .7em;
	}
}

.account-options {
	display: none;
}

.account-option-link {
	&:link, &:visited {
		@include modal-link;
	}
}


.account-password-row {
	position: relative;

	& > div {
		display: inline;
	}
}

.account-password-generator {
	position: absolute;
	top: 10px;
	right: $form-width;
	font-size: .7em;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
}

.account-form-password-show {
	@include button-password-show();
}

.account-alphabet-row, .account-length-row {
	display: inline-block;
	margin: 0;
}

.account-alphabet-row {
	text-align: right;
}

.account-length-row {
	text-align: left;

	[name=length] {
		width: 3em;
	}
}

[name=alphabet] {
	text-align: right;

	& > option {
		text-align: left;
	}
}

.account-password-generator-action {
	&, &:link, &:visited {
		position: relative;
		font-size: 1.7em;
		top: .05em;
		margin: 0 .4em;
	}
}

.account-password-generate {
	@include modal-link($fore-color);
}

.checked-accounts-menu {
	position: fixed;
	top: 203px;
	left: 30px;
	padding: 30px 35px 20px;
	background: $back-hover-color;
	border-radius: 6px;
	text-align: center;
}

.checked-accounts-menu-title {
	font-size: 1.2em;
	margin-bottom: .3em;
}

.checked-accounts-menu-select-all, .checked-accounts-menu-remove {
	display: block;
	margin: .2em auto 0;
}

.checked-accounts-menu-close {
	@include button("/static/images/close.svg", .6, $title-color);
	position: absolute;
	$offset: 6px;
	right: $offset;
	top: $offset;
}
