.error {
	color: $title-color;
	font-size: 2em;
	margin-top: 4em;
	text-align: center;
	width: 100%;
}

.error-title {
	display: inline-block;
	font-size: 5em;
	margin: 0;
	vertical-align: -.3em;
}

.error-description-wrap {
	display: inline-block;
	margin-left: 2em;
	vertical-align: middle;
	text-align: left;
	max-width: 50%;
}

.error-notification {
	font-size: 1.4em;
}

.error-home-link-wrap {
	margin-top: 2em;
}

.browser-links {
	text-align: center;
	margin-top: 30px;
}

.browser-link {
	&:link, &:visited {
		display: inline-block;
		width: 120px;
		font-size: .7em;
		padding: 95px 0 15px;
		text-align: center;
		background: {
			repeat: no-repeat;
			position: center 15px;
		}
		border-radius: 4px;
	}

	&:hover {
		background-color: $back-hover-color;
	}
}

.browser-link-firefox {
	&:link, &:visited {
		background-image: url("/static/images/firefox.png");
	}
}

.browser-link-chrome {
	&:link, &:visited {
		background-image: url("/static/images/chrome.png");
	}
}

.browser-link-opera {
	&:link, &:visited {
		background-image: url("/static/images/opera.png");
	}
}
