@import "mixins";

$body-wrap-width: 1000px;
$login-form-width: 358px;
$login-form-margin: 70px;
$prospectus-picture-width: 320px;

.body-wrap.body-wrap-home {
	width: auto;
	max-width: $body-wrap-width;
}

.main-title {
	text-align: center;
}

h1 {
	display: inline-block;
	font-size: 6em;
	padding-bottom: .45em;
}

.slogan {
	font-size: 2em;
	color: $title-color;
	text-align: center;
}

$prospectus-picture-height: $prospectus-picture-width * 461 / 320;
$prospectus-width: $body-wrap-width - $login-form-width - $login-form-margin - $prospectus-picture-width;

.prospectus {
	float: right;
	width: $prospectus-width;
	height: $prospectus-picture-height;
	padding-left: $prospectus-picture-width;
	background: url("../images/prospectus.png") no-repeat left top;
	margin-right: $login-form-margin;
}

.prospectus-points {
	position: relative;

	li {
		position: absolute;
	}

	.prospectus-point-client {
		top: $prospectus-picture-height * 0.24;
	}

	.prospectus-point-transmission {
		top: $prospectus-picture-height * 0.52;
	}

	.prospectus-point-server {
		top: $prospectus-picture-height * 0.81;
	}
}

$login-form-input-width: $login-form-width - 4px;

$status-ok-size: 48px;
$status-ok-padding: $status-ok-size * (1 - .3);
.login-form {
	float: right;
	width: $login-form-width;
	font-size: 1.2em;
	margin-top: 4.75em;
	

	label {
		color: mix($fore-color, $back-color, 18%);
	}

	input[type=text], input[type=password], input[type=email] {
		width: $login-form-input-width;
		
		&.input-status-ok {
			padding-right: $status-ok-padding;
			width: $login-form-input-width - $status-ok-padding;
		}
	}
}

.status.status-ok {
	width: $status-ok-size;
	height: $status-ok-size;
	background: url("/static/images/ok.svg");
}

.registration-invitation {
	margin-top: 1.8em;
}
