@import "mixins";

.main-title {
	text-align: center;
}

h1 {
	display: inline-block;
	border-bottom: 1px solid #0096ef;
	font-size: 6em;
	padding-bottom: .45em;
}

$login-form-width: 640px;
$login-form-input-width: $login-form-width - 4px;

$status-ok-size: 80px;
$status-ok-padding: $status-ok-size * (1 - .3);
.login-form {
	font-size: 2em;
	width: $login-form-width;

	label {
		color: mix($fore-color, $back-color, 18%);
	}

	input[type=text], input[type=password], input[type=email] {
		width: $login-form-input-width;
		
		&.input-status-ok {
			padding-right: $status-ok-padding;
			width: $login-form-input-width - $status-ok-padding;
		}
	}
}

.status.status-ok {
	width: $status-ok-size;
	height: $status-ok-size;
	background: url("/static/images/ok.svg");
}

.registration-invitation {
	margin-top: 1.8em;
}
