@import "mixins";

$login-form-width: 358px;
$login-form-margin: 65px;
$prospectus-picture-width: 320px;
$login-form-padding-left: 10px;
$cell-width: $app-width - $login-form-padding-left - $login-form-width - $login-form-margin;
$prospectus-picture-height: $prospectus-picture-width * 461 / 320;
$prospectus-width: $cell-width + $prospectus-picture-width;

.home-row {
	overflow: hidden;
}

.home-cell {
	width: $cell-width;
	float: left;
	margin-left: $login-form-margin;
}

.home-title {
	margin-bottom: .3em;
	font-size: 1.8em;
}

.home-list {
	margin-top: 1em;
}

.prospectus {
	$prospectus-width: $cell-width + $prospectus-picture-width;
	width: $prospectus-width;
	margin: {
		top: $prospectus-picture-height * 0.05;
		left: $app-width - $prospectus-width;
	}
}

.prospectus-title {
	padding-left: $prospectus-picture-width;
}

.prospectus-points {
	$first-point-top: 0.15;
	
	position: relative;
	height: $prospectus-picture-height;
	background: url("../images/prospectus.png") no-repeat left top;
	margin-top: -$prospectus-picture-height * $first-point-top;
	padding-left: $prospectus-picture-width;

	li {
		position: absolute;
	}

	.prospectus-point-client {
		top: $prospectus-picture-height * $first-point-top;
	}

	.prospectus-point-transmission {
		top: $prospectus-picture-height * 0.52;
	}

	.prospectus-point-server {
		top: $prospectus-picture-height * 0.8;
	}
}

$login-form-input-width: $login-form-width - 4px;

$status-ok-size: 48px;
$status-ok-padding: $status-ok-size * (1 - .3);
.login-form {
	float: left;
	width: $login-form-width;
	margin: 1.5em 0 2em;
	padding-left: $login-form-padding-left;
	font-size: 1.2em;

	label {
		color: mix($fore-color, $back-color, 18%);
	}

	input[type=text], input[type=password], input[type=email] {
		width: $login-form-input-width;
		
		&.input-status-ok {
			padding-right: $status-ok-padding;
			width: $login-form-input-width - $status-ok-padding;
		}
	}
}

.status.status-ok {
	width: $status-ok-size;
	height: $status-ok-size;
	background: url("/static/images/ok.svg");
}

.registration-invitation {
	margin-top: 1.3em;
}
