@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";

$back-color: #f9fcff;
$back-hover-color: darken($back-color, 6%);
$fore-color: #000;
$bright-color: #0cf;
$title-color: #79c8ff;
$link-link-color: #6380c5;
$link-visited-color: #a263c5;
$link-hover-color: #f00;
$link-active-color: #f88;
$white-color: #fff;
$gray-color: mix($fore-color, $back-color, 50%);
$light-gray-color: mix($fore-color, $back-color, 18%);
$input-border-color: #2badff;

$default-box-shadow-color: #ccc;
$default-box-shadow-blur: .3em;

$app-width: 800px;
$form-width: 340px;
$input-focus-shadow-width: 10px;

@mixin link {
	&, &:link {
		cursor: pointer;
		background: transparent;
		border: none;
		color: $link-link-color;
	}

	&:visited {
		color: $link-visited-color;
	}

	&:focus {
		&, &:link {
			outline: none;
			@include box-shadow(none);
			@include text-shadow(0 0 .4em $bright-color);
			text-decoration: none;
			border-bottom: .2em solid $link-link-color;
		}

		&:visited {
			border-bottom-color: $link-visited-color;
		}

		&:hover {
			border-bottom-color: $link-hover-color;
		}
	}

	&:hover {
		color: $link-hover-color;
	}

	&:active {
		color: $link-active-color;
	}
}

@mixin title-link {
	@include link;

	&:link {
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
		
		&:focus {
			text-decoration: none;
		}
	}
}

@mixin modal-link($color: $link-link-color) {
	@include link;

	&:link, &:visited {
		color: $color;
		text-decoration: none;
		border-bottom: 1px dotted mix($color, $back-color, 50%);
	}

	&:focus {
		&:link, &:visited {
			border-bottom: .2em dotted $color;
		}
	}

	&:hover {
		border-bottom-color: $color;
	}

	&:active {
		color: mix($color, $back-color, 30%);
		border-bottom-color: mix($color, $back-color, 30%);
	}	
}

@mixin title {
	font-family: "palatino linotype",palatino,serif;
	color: $title-color;
}

@mixin main-title {
	@include title;
	padding-bottom: .15em;
	white-space: nowrap;
}

@mixin button($image, $scale: 1, $hover-color: $back-hover-color) {
	$size: 40px * $scale;
	position: relative;
	margin: 0;
	cursor: pointer;
	width: $size;
	height: $size;
	padding: 0;
	border: none;
	vertical-align: middle;
	border-radius: 2px;
	background: transparent;

	&:before {
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		background: {
			color: transparent;
			image: url($image);
			repeat: no-repeat;
			position: center center;
			size: $size*0.7 $size*0.7;
		}
		@include transition-property(transform);
		@include transition-duration(.3s);
	}

	&:hover {
		background: $hover-color;
	}
}

@mixin button-flipped() {
	&:before {
		@include rotate(180deg);
	}
}

@mixin button-password-show() {
	@include button("/static/images/eye.svg");
	position: absolute;
	right: -44px;
	top: 17px;
}
