$back-color: #f9fcff;
$fore-color: #000;
$bright-color: #0cf;
$title-color: #79c8ff;
$link-link-color: #6380c5;
$link-visited-color: #a263c5;
$link-hover-color: #f00;
$link-active-color: #f88;

$form-width: 340px;

@mixin link {
	&, &:link {
		cursor: pointer;
		background: transparent;
		border: none;
		color: $link-link-color;
	}

	&:visited {
		color: $link-visited-color;
	}

	&:focus {
		&, &:link {
			outline: none;
			box-shadow: none;
			text-shadow: 0 0 .4em $bright-color;
			text-decoration: none;
			border-bottom: .2em solid $link-link-color;
		}

		&:visited {
			border-bottom-color: $link-visited-color;
		}

		&:hover {
			border-bottom-color: $link-hover-color;
		}
	}

	&:hover {
		color: $link-hover-color;
	}

	&:active {
		color: $link-active-color;
	}
}

@mixin title-link {
	@include link;

	&:link {
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
		
		&:focus {
			text-decoration: none;
		}
	}
}

@mixin modal-link($color: $link-link-color) {
	@include link;

	&:link, &:visited {
		color: $color;
		text-decoration: none;
		border-bottom: 1px dotted mix($color, $back-color, 50%);
	}

	&:focus {
		&:link, &:visited {
			border-bottom: .2em dotted $color;
		}
	}

	&:hover {
		border-bottom-color: $color;
	}

	&:active {
		color: mix($color, $back-color, 10%);
		border-bottom-color: mix($color, $back-color, 10%);
	}	
}

@mixin shadow($size: .3em, $color: #ccc){
	$webkit-box-shadow-size-koefficient: 5 / 3;
	box-shadow: 0 0 $size 0 $color;
	-webkit-box-shadow: 0 0 $size * $webkit-box-shadow-size-koefficient 0 $color;
	-moz-box-shadow: 0 0 $size 0 $color;
}

@mixin title {
	font-family: "palatino linotype",palatino,serif;
	color: $title-color;
}

$main-title-background-size: 1.4em;
@mixin main-title-background {
	background: url("/static/images/logo.svg") 0 .05em no-repeat;
	background-size: $main-title-background-size $main-title-background-size;
}

@mixin main-title {
	@include title;
	@include main-title-background;
	text-indent: $main-title-background-size + .3em;
	padding-bottom: .15em;
	white-space: nowrap;
}
