@charset "utf-8";
@import "compass/reset";
@import "mixins";

$font-size: 16px;
body {
	font: #{$font-size}/1.3 tahoma,geneva,sans-serif;
	background: $back-color;
}

h1, h2, h3 {
	@include title;
}

h1 {
	@include main-title;
	font-size: 4em;
	margin-top: .5em;
}

h2 {
	font-size: 3em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bolder;
}

ol, ul {
	li + li {
		margin-top: .5em;
	}
}

form {
	width: $form-width;
	margin: 3em auto;
	position: relative;

	h2 {
		font-size: 1.9em;
		margin-bottom: .3em;
	}
	
	p {
		& + p {
			margin-top: 1em;
		}
	}
}

input, select, textarea {
	font: 1.4em/1.3 tahoma,geneva,sans-serif;
	border: .07em solid #2badff;
	
	&:focus {
		@include shadow(.3em, $bright-color);
		outline: none;
	}
}

$form-input-width: $form-width - 2px;
input, textarea {
	width: $form-input-width;
}
	
input, select {
	padding: 0 0 .06em;
}

select {
	background: #fff;
}

textarea {
	height: 2.6em;
	line-height: 1;
}

label {
	display: block;
	font-size: 1em;
	color: mix($fore-color, $back-color, 50%);
}

input {
	&[type=submit] {
		color: #fff;
		width: auto;
		margin-top: .8em;
		padding: .05em .8em;
		border: {
			width: 1px;
			radius: .3em;
		}
		font-size: 1.2em;
		text-shadow: .05em .05em 0 #59bfff;

		background: #ddf2ff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ddf2ff 0%, #90d4ff 80%, #59bfff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddf2ff), color-stop(80%,#90d4ff), color-stop(100%,#59bfff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ddf2ff 0%,#90d4ff 80%,#59bfff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ddf2ff 0%,#90d4ff 80%,#59bfff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ddf2ff 0%,#90d4ff 80%,#59bfff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ddf2ff 0%,#90d4ff 80%,#59bfff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddf2ff', endColorstr='#59bfff',GradientType=0 ); /* IE6-9 */

		&:hover {
			background: #ddf2ff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ddf2ff 0%, #aadeff 80%, #72c9ff 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddf2ff), color-stop(80%,#aadeff), color-stop(100%,#72c9ff)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ddf2ff 0%,#aadeff 80%,#72c9ff 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ddf2ff 0%,#aadeff 80%,#72c9ff 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ddf2ff 0%,#aadeff 80%,#72c9ff 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ddf2ff 0%,#aadeff 80%,#72c9ff 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddf2ff', endColorstr='#72c9ff',GradientType=0 ); /* IE6-9 */
			cursor: pointer;
		}

		&:active {
			background: #abdeff;
		}
	}

	&::-moz-focus-inner {
		border: 0;
	}
}

a {
	@include link;
}

ol {
	list-style-type: decimal;
}

.qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 255px;
	min-width: 50px;
	
	font-size: .9em;
	line-height: 1.2;

	direction: ltr;

	border: 1px solid mix($title-color, $back-color, 70%);
	color: mix($fore-color, $back-color, 70%);
	background: mix($title-color, $back-color, 10%);
	@include shadow;
}

.qtip-content{
	position: relative;
	padding: .7em 1em;
	overflow: hidden;

	text-align: left;
	word-wrap: break-word;
}

.qtip .qtip-tip{
	margin: 0 auto;
	overflow: hidden;
	z-index: 10;
}

/* Opera bug #357 - Incorrect tip position
   https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip{
	visibility: hidden;
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas {
	position: absolute;

	color: #123456;
	background: transparent;
	border: 0 dashed transparent;
}

.qtip .qtip-tip canvas{ top: 0; left: 0; }


.body-wrap {
	width: 800px;
	margin: 0 auto 1em;
	position: relative;
}

.breadcrumbs {
	margin: 2em 0;
}

.breadcrumb {
	&:link {
		&:after {
			content: "›";
			margin: 0 .4em;
			display: inline-block;
		}
	}
}

.last-breadcrumb {
	font-weight: bolder;
}

$error-color: #ff0054;
$error-background: mix($error-color, $back-color, 5%);
$error-border-color: mix($error-color, $back-color, 30%);

$status-ok-size: 45px;
.status {
	position: absolute;
	font-size: .7em;

	&.status-ok {
		width: $status-ok-size;
		height: $status-ok-size;
		background: url("/static/images/ok.svg");
	}
}

$status-ok-padding: $status-ok-size * (1 - .3);
input[type=email].input-status-ok {
	padding-right: $status-ok-padding;
	width: $form-input-width - $status-ok-padding;
}

.status-error {
	font-weight: bolder;
	color: $error-color;
}

.status-gauge {
	background: url("/static/images/gauge.gif") no-repeat center left;
	text-indent: 20px;
	padding-bottom: .05em;
}

p.error-field {
	label {
		color: $error-color;
	}
	
	input, textarea {
		background: $error-background;
		border-color: $error-border-color;

		&:focus {
			@include shadow(.3em, #f00);
		}
	}
}

label.error-field {
	font-weight: bolder;
}

.form-notifications {
	background: $error-background;
	border: {
		top: 1px solid $error-color;
		bottom: 1px solid $error-color;
	}
	color: $error-color;
	font-size: 1.2em;
	font-weight: bolder;
	padding: 0 1em;
}

.form-notification {
	margin: .7em 0;
	line-height: .9;
}


.clipboard-active {
	color: mix($fore-color, $back-color, 50%);
}
