@import "mixins";

.dashboard-title.logout-submit[type=submit] {
	float: left;
	font-size: 4em;
	color: $fore-color;
	@include title;

	&:hover, &:active {
		color: mix($fore-color, $back-color, 50%);
		text-decoration: none;
	}

	&:focus {
		border: none;
		text-decoration: underline;
		text-shadow: none;
	}
}

.bar {
	float: right;
	margin: 2.3em 0 0;
}

.logout-form {
	display: inline;
}

.logout-submit[type=submit] {
	@include link;

	&:hover{
		text-decoration: underline;
		
		&:focus {
			text-decoration: none;
		}
	}
}

.search-form {
	margin: 0;
	width: 500px;
}

.no-accounts-notification {
	text-align: center;
	font-size: 1.9em;
	margin-top: 5.5em;
}

.no-accounts-invitation {
	text-align: center;
	margin: .3em 0 2.5em;
	
	&:first-line {
		font-size: 1.2em;
	}
}

.account-password-row {
	position: relative;
}

.account-password-generator {
	position: absolute;
	top: 10px;
	right: $form-width;
	font-size: .7em;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
}

.account-alphabet-row, .account-length-row {
	display: inline-block;
	margin: 0;
}

.account-alphabet-row {
	text-align: right;
}

.account-length-row {
	text-align: left;
}

[name=alphabet] {
	text-align: right;

	& > option {
		text-align: left;
	}
}

[name=length] {
	width: 3em;
}

.account-password-generator-action {
	&, &:link {
		position: relative;
		font-size: 1.7em;
		top: .05em;
		margin: 0 .4em;
	}
}

.account-password-generate {
	&:link, &:visited {
		color: $fore-color;
		border-bottom-color: #888;
	}

	&:focus {
		&:link, &:visited {
			border-bottom-color: $fore-color;
		}

		&:hover {
			border-bottom-color: #000;
		}

		&:action {
			border-bottom-color: #aaa;
		}
	}

	&:hover {
		border-bottom-color: #000;
	}

	&:action {
		color: #aaa;
		border-bottom-color: #aaa;
	}
}
