<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Keys of Peace{% endblock %}</title>
	<link rel="icon" type="image/x-icon" sizes="16x16" href="{{ STATIC_URL }}images/favicon.ico">
	<link rel="icon" type="image/svg+xml" sizes="any" href="{{ STATIC_URL }}images/favicon.svg">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
	{% block head %}{% endblock %}
	{% block stylesheets %}{% endblock %}
  </head>
  <body>
	{% block content %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	{% block scripts %}{% endblock %}
  </body>
</html>
