{% extends 'base.html' %}


{% block title %}Error {% block title_error %}{% endblock %} &mdash; Keys of Peace{% endblock %}


{% block content %}
<div class="error">
  <h1 class="error-title">{% block header_error %}{% endblock %}</h1>
  <div class="error-description-wrap">
	<div class="error-notification">Error happened</div>
	<div class="error-description">
	  {% block description %}{% endblock %}
	</div>
  </div>
  <div class="error-home-link-wrap">
	<a class="error-home-link" href="{%url 'home'%}">Home</a>
  </div>
</div>
{% endblock %}
