{% extends 'base.html' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css" media="screen" />
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.caret.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/password.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/clipboard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-relational.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/store.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/account-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/account-view.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>

<script class="home-template" type="text/html">
  <div class="main-title">
	<h1>Keys of Peace</h1>
  </div>
  <form class="login-form" method="post">
	{{ form }}
	<input type="submit" value="Login">
	<p class="registration-invitation">
	  Have no account? <a href="{% url 'registration' %}">Sign up.</a>
	</p>
  </form>
  <div class="prospectus">
	<h2>Never lose your passwords</h2>
	<ol>
	  <li>
		If your PC is far away, take passwords from Android app.
	  </li>
	  <li>
		Internet connection is lost? You won't miss your Wi-Fi password &mdash; Keys of Peace has offline copy of your passwords database.
	  </li>
	  <li>
		If you sit at your friend's laptop, remember <a href="https://keysofpeace.com">keysofpeace.com</a> and grab your secrets everywhere! But <em>be aware</em> of public computers.
	  </li>
	</ol>
	<h2>It is Safe</h2>
	<ol class="prospectus-points">
	  <li class="prospectus-point-client">
		Passwords are encrypted right at your PC or phone. We won't ever see any of your passwords. We even <em>can not</em> help you to remember your main password.
	  </li>
	  <li class="prospectus-point-transmission">
		We don't transmit any non-ciphered data. Even most curious raven won't know your secrets.
	  </li>
	  <li class="prospectus-point-server">
		Our server just stores encrypted passwords &mdash; your device does the work.
	  </li>
	</ol>
  </div>
</script>

<script class="dashboard-template" type="text/html">
  <div class="dashboard-header">
	<form class="logout-form" action="{% url 'logout' %}" method="post">
	  <input name="csrfmiddlewaretoken" type="hidden" value="<%= csrftoken %>">
	  <input class="dashboard-title logout-submit" type="submit" value="Keys of Peace" title="Press the logo to logout" tabindex="-1">
	</form>
	<div class="bar">
	  <%= email %>
	  <form class="logout-form" action="{% url 'logout' %}" method="post">
		<input name="csrfmiddlewaretoken" type="hidden" value="<%= csrftoken %>">
		<input class="logout-submit" type="submit" value="Logout">
	  </form>
	</div>
  </div>
  <form class="search-form">
	<input class="search-query" name="query" type="text">
	<input class="search-submit" type="submit" value="Search" tabindex="-1">
  </form>
  <div class="search-results"></div>
  <form class="account-form">
	<h2>New account</h2>
	{{ account_form }}
	<input class="account-submit" type="submit" value="Save">
  </form>
</script>

<script class="no-search-results-template" type="text/html">
  <div class="no-search-results">
	<p class="no-search-results-notification">No accounts found</p>
  </div>
</script>

<script class="no-accounts-template" type="text/html">
  <div class="no-search-results">
	<p class="no-accounts-notification">You have no accounts</p>
	<p class="no-accounts-invitation">
	  Worth to create one — fill the form below<br>
	  All your data will be encoded right in your<br>
	  browser and saved on our server.
	</p>
  </div>
</script>

<script class="account-template" type="text/html">
  <div class="account">
	<a class="account-options-link" href="#" tabindex="-1">▼</a>
	<p class="account-login-row">
	  Login: <span class="account-login"><%= login %></span>
	</p>
	<p class="account-password-row">
	  Password: <span class="account-password"><%= password %></span>
	</p>
	<div class="account-options">
	  <a class="account-option-link account-remove-link" href="#">Remove</a>
	</div>
  </div>
</script>
{% endblock %}


{% block content %}
<div class="body-wrap">
  <noscript>
	<div class="error">
	  <h1 class="error-title">JS</h1>
	  <div class="error-description-wrap">
		<div class="error-notification">No JavaScript found</div>
		<div class="error-description">
		  <p>JavaScript need to be supported in order to use the site. To be able to use all of the site's functions, download and install one of the following browsers:</p>
		  <p class="browser-links">
			<a class="browser-link browser-link-firefox" href="https://www.mozilla.org/firefox/desktop/">Firefox</a>
			<a class="browser-link browser-link-chrome" href="https://www.google.com/chrome/browser/">Chrome</a>
			<a class="browser-link browser-link-opera" href="http://www.opera.com/">Opera</a>
		  <p>
		</div>
	  </div>
	</div>
  </noscript>
</div>
{% endblock %}
