{% extends 'daily.html' %}


{% block daily_title %}Registration{% endblock %}


{% block header %}
<h1>Keys of Peace</h1>
{% endblock %}


{% block breadcrumbs %}
<span class="last-breadcrumb">Registration</span>
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/registration.css" media="screen" />
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/registration.js"></script>
<script class="success-template" type="text/html">
  <div class="success">
	<h2>Congratulations</h2>
	<p class="success-email">You was registered with email <strong><%= email %></strong></p>
	<a class="login-link" href="{% url 'home' %}">Login</a>
  </div>
</script>
{% endblock %}


{% block daily_content %}
<form class="registration-form">
  {{ form }}
  <input type="submit" value="Register">
</form>
{% endblock %}
