<!doctype html>
<html lang={{ LANGUAGE_CODE }}>
  <head>
    <meta charset="UTF-8">
    <title>Passw-pit</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
	{% block stylesheets %}{% endblock %}
  </head>
  <body>
	{% block content %}{% endblock %}
	{% block scripts %}{% endblock %}
  </body>
</html>
