{% load jsonify_tags %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Passw-pit{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
	{% block stylesheets %}{% endblock %}
  </head>
  <body>
	<div class="body-wrap">
	  {% block content %}{% endblock %}
	</div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.position.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.qtip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lodash.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/api.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/crypto/core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/crypto/enc-base64.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/crypto/sha256.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/crypto/hmac.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/crypto/pbkdf2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/crypto/cipher-core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/crypto/aes.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/crypto.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/util.js"></script>
	<script type="text/javascript">
	  _.extend(Crypto, {{ crypto|jsonify|safe }});
	  Api.URL = '/api/v1/';
	  LOGIN_URL = '{% url 'home' %}';
	</script>
	{% block scripts %}{% endblock %}
  </body>
</html>
