{% extends 'base.html' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home-login.css" media="screen" />
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/store.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
<script class="dashboard-template" type="text/html">
  <h1 class="dashboard-title">Passw Pit</h1>
  <div class="bar">
	<%= email %>
	<form class="logout-form" action="" method="post">
	  <input class="logout-submit" type="submit" value="Logout">
	</form>
  </div>
  <form class="search-form">
	<input class="search-query" type="text">
	<input class="search-submit" type="submit" value="Search">
  </form>
  <p class="no-accounts-notification">You have no accounts</p>
  <p class="no-accounts-invitation">
	Worth to create one — fill the form below<br>
	All your data will be encoded right in your<br>
	browser and saved on our server.
  </p>
  <form class="account-form">
	<h2>New account</h2>
	{{ account_form }}
	<input class="account-submit" type="submit" value="Save">
  </form>
</script>
{% endblock %}


{% block content %}
<h1>Passw pit</h1>
<form class="login-form" method="post">
  {{ form }}
  <input type="submit" value="Login">
</form>
<p>
  Have no account? Register <a href="{% url 'registration' %}">here.</a>
</p>
{% endblock %}
