{% extends 'daily.html' %}


{% block daily_title %}Registration{% endblock %}


{% block header %}
<h1>Registration</h1>
{% endblock %}


{% block breadcrumbs %}
<span class="last-breadcrumb">Registration</span>
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/registration.css" media="screen" />
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/registration.js"></script>
{% endblock %}


{% block daily_content %}
<form class="registration-form" method="post">
  {{ form }}
  <input type="submit" value="Register">
</form>
{% endblock %}
