{% extends 'base.html' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css" media="screen" />
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.caret.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/password.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-relational.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/store.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
<script class="dashboard-template" type="text/html">
  <form class="logout-form" action="{% url 'logout' %}" method="post">
	{% csrf_token %}
	<input class="dashboard-title logout-submit" type="submit" value="Keys of Peace" title="Press the logo to logout">
  </form>
  <div class="bar">
	<%= email %>
	<form class="logout-form" action="{% url 'logout' %}" method="post">
	  {% csrf_token %}
	  <input class="logout-submit" type="submit" value="Logout">
	</form>
  </div>
  <form class="search-form">
	<input class="search-query" type="text">
	<input class="search-submit" type="submit" value="Search">
  </form>
  <div class="search-results"></div>
  <form class="account-form">
	<h2>New account</h2>
	{{ account_form }}
	<input class="account-submit" type="submit" value="Save">
  </form>
</script>
<script class="no-accounts-template" type="text/html">
  <p class="no-accounts-notification">You have no accounts</p>
  <p class="no-accounts-invitation">
	Worth to create one — fill the form below<br>
	All your data will be encoded right in your<br>
	browser and saved on our server.
  </p>
</script>
<script class="account-template" type="text/html">
  <div class="account">
	<p>
	  Login: <%= login %>
	</p>
	<p>
	  Email: <%= email %>
	</p>
	<p class="account-password-row">
	  Password: <input class="account-password" type="password" value="<%= password %>">
	</p>
  </div>
</script>
{% endblock %}


{% block content %}
<h1>Keys of Peace</h1>
<form class="login-form" method="post">
  {{ form }}
  <input type="submit" value="Login">
</form>
<p>
  Have no account? Register <a href="{% url 'registration' %}">here.</a>
</p>
{% endblock %}
