@charset "utf-8";
@import "compass/reset";
@import "mixins";

body {
	font: 16px/1.3 tahoma,geneva,sans-serif;
	width: 800px;
	margin: 0 auto;
	position: relative;
}

h1, h2, h3 {
	font-family: "palatino linotype",palatino,serif;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

$form-width: 320px;

form {
	width: $form-width;
	margin: 3em auto;
	
	p {
		& + p {
			margin-top: 1em;
		}
	}
}

input {
	font-size: 1.4em;
	border: 1px solid mix($fore-color, $back-color, 30%);
}

input[type=text], input[type=password], input[type=email] {
	width: $form-width - 2px;
	
	&:focus {
		@include shadow(.5em, $bright-color);
		outline: none;
	}
}

label {
	display: block;
	font-size: 1em;
}

input[type=submit] {
	margin-top: .8em;
}

.breadcrumbs {
	margin: 2em 0;
}

.breadcrumb {
	&:link {
		&:after {
			content: "›";
			margin: 0 .4em;
			display: inline-block;
		}
	}
}

.last-breadcrumb {
	font-weight: bolder;
}

.validation-status {
	position: absolute;
	font-size: .7em;
}

$error-color: mix($error-color, $fore-color, 70%);
$error-background: mix($error-color, $back-color, 5%);
$error-border-color: mix($error-color, $back-color, 30%);

p.error-field {
	color: $error-color;
	
	input {
		background: $error-background;
		border-color: $error-border-color;
	}
}

label.error-field {
	font-weight: bolder;
}

.form-notifications {
	background: $error-background;
	border: {
		top: 1px solid $error-color;
		bottom: 1px solid $error-color;
	}
	color: $error-color;
	font-size: 1.2em;
	font-weight: bolder;
	padding: 0 1em;
}

.form-notification {
	margin: .7em 0;
	line-height: .9;
}
